#site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ui {
    margin: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-left: 75px;
    padding-right: 75px;
    border: solid;
    border-radius: 96px;
}

#header {
    height: 100px;
}

.board {
    border-style: solid;
    border-width: 1px;
    height: 7px;
    width: 7px;
    margin: 0px;
}

.hover {
    background-color: gray;
}

#wipeBtn {
    height: 30px;
    width: 60px;
}